:root {
  --teal: rgb(64, 162, 162);
  --text-white: white;
  --text-soft: rgb(223, 221, 221);
}
.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  min-height: 100vh;
  color: var(--text-white);
  display: flex;
  flex-direction: column;
}
header {
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  color: var(--teal);
  font-family: "Mogra", system-ui;
  font-size: xx-large;
  font-weight: bold;
}
.header-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.header-links li {
  font-family: sans-serif;
  font-size: 1.2rem;
}
.header-links li a {
  color: var(--text-white);
  text-decoration: none;
  transition: color 0.3s;
}
.header-links li a.active {
  position: relative;
  text-decoration: none;
  color: var(--teal);
  padding: 5px;
}
.header-links li a:hover {
  color: var(--teal);
}
.header-links li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  border-bottom: 2px solid var(--teal);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  flex-grow: 1;
}
.hero * {
  width: 35%;
}
.short-explanation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.short-explanation span {
  font-size: 1.3rem;
  width: 100%;
  color: var(--text-soft);
  text-transform: capitalize;
}
.short-explanation h2 {
  font-size: 2.6rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.short-explanation h1 {
  font-size: 3rem;
  color: var(--teal);
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.short-explanation p {
  color: var(--text-soft);
  width: 40ch;
}
.image-container {
  position: relative;
  width: 400px;
  height: 400px;
}
.rotating-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed var(--teal);
  border-radius: 50%;
  border-width: 5px;
  border-spacing: 40px;

  z-index: 10;
  box-sizing: border-box;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 330px;
  overflow: hidden;
  border-radius: 50%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background: #000;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cv-download-btn {
  padding: 10px 10px;
  border-radius: 25px;
  background: transparent;
  color: var(--teal);
  border: 1px solid var(--teal);
  transition: all 0.3s;
  cursor: pointer;
}

.cv-download-btn a {
  text-decoration: none;
  color: var(--teal);
  font-size: 1.2rem;
  transition: all 0.3s;
}
.cv-download-btn:hover {
  background: var(--teal);
}
.cv-download-btn:hover a {
  color: var(--text-white);
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 1.5rem;
}
.socials i {
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 50%;
  aspect-ratio: 1;
}
.socials *:hover {
  color: var(--teal);
}
.footer-links {
  display: flex;
  list-style: none;
  gap: 25px;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.footer-links a {
  text-decoration: none;
  color: var(--text-white);
  transition: color 0.3s;
}
.footer-links a:hover {
  color: var(--teal);
}
.copyright {
  font-size: 1rem;
  padding: 5px;
  color: var(--text-soft);
}
