:root {
  --teal: rgb(64, 162, 162);
  --text-white: white;
  --text-soft: rgb(223, 221, 221);
}
.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  min-height: 100vh;
  color: var(--text-white);
  display: flex;
  flex-direction: column;
}
header {
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  color: var(--teal);
  font-family: "Mogra", system-ui;
  font-size: xx-large;
  font-weight: bold;
}
.header-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.header-links li {
  font-family: sans-serif;
  font-size: 1.2rem;
}
.header-links li a {
  color: var(--text-white);
  text-decoration: none;
  transition: color 0.3s;
}
.header-links li a.active {
  position: relative;
  text-decoration: none;
  color: var(--teal);
  padding: 5px;
}
.header-links li a:hover {
  color: var(--teal);
}
.header-links li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  border-bottom: 2px solid var(--teal);
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 1.5rem;
}
.socials i {
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 50%;
  aspect-ratio: 1;
}
.socials *:hover {
  color: var(--teal);
}
.footer-links {
  display: flex;
  list-style: none;
  gap: 25px;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.footer-links a {
  text-decoration: none;
  color: var(--text-white);
  transition: color 0.3s;
}
.footer-links a:hover {
  color: var(--teal);
}
.copyright {
  font-size: 1rem;
  padding: 5px;
  color: var(--text-soft);
}
